@using tl2_tp10_2023_danielsj1996.ViewModels
@model tl2_tp10_2023_danielsj1996.ViewModels.LoginViewModel

<form asp-controller="Login" asp-action="Index" method="post">
    <div class="mb-3">
        <label asp-for="@Model.Nombre" class="form-label">Nombre de Usuario</label>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Nombre de usuario" asp-for="@Model.Nombre" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Contrasenia" class="form-label">Contraseña</label>
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Contraseña" asp-for="@Model.Contrasenia" />
            <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}