@{
    ViewData["Title"] = "Agregar Tarea";
}

@model tl2_tp10_2023_danielsj1996.ViewModels.CrearTareaViewModel

<h1>@ViewData["Title"]</h1>

<form asp-controller="Tarea" asp-action="CrearTareaFromForm" method="post">
    <div class="form-group">
        <label asp-for="@Model.Id"></label>
        <input asp-for="@Model.Id" class="form-control" id="id" />
        <span asp-validation-for="@Model.Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.IdTablero"></label>
        <input asp-for="@Model.IdTablero" class="form-control" id="idTablero" />
        <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Estado"></label>
        <select asp-for="@Model.Estado" asp-items="Html.GetEnumSelectList<EstadoTarea>()" class="form-control" />
        <option value="">Seleccionar Estado</option>
        </select>
        <span asp-validation-for="@Model.Estado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" id="descripcion" />
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Color"></label>
        <input asp-for="@Model.Color" class="form-control" id="color" />
        <span asp-validation-for="@Model.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioAsignado"></label>
        <input asp-for="@Model.IdUsuarioAsignado" class="form-control" id="idUsuarioAsignado" />
        <span asp-validation-for="@Model.IdUsuarioAsignado" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>


@section Scripts { <partial name="_ValidationScriptsPartial" /> }