@{
    ViewData["Title"] = "Tareas";
}

@model List<tl2_tp10_2023_danielsj1996.ViewModels.ListarTareaViewModel>

<h1>Lista de Tareas</h1>

<table class="table table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id Tablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Id Usuario Asignado</th>
            <th>Id Usuario Propietario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)

        {
            <tr>
                <td>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Estado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.IdUsuarioAsignado</td>
                <td>@tarea.IdUsuarioPropietario</td>
                <td>
                    <a asp-controller="Tarea" asp-action="EditarTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                    <a asp-controller="Tarea" asp-action="AsignarUsuarioATarea" asp-route-idTarea="@tarea.Id">Asignar Usuario
                        a Tarea</a>
                    <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id">Eliminar</a>
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <a asp-controller="Tarea" asp-action="CrearTarea">Agregar Tarea</a>
        </tr>
    </tfoot>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}