@{

    ViewData["Title"] = "Agregar Usuario"
}

@model tl2_tp10_2023_danielsj1996.ViewModels.CrearUsuarioViewModel
<h1>@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="AgregarUsuarioFromForm" method="post">
    <div class="form-group">
        <label asp-for="@Model.Id"></label>
        <input asp-for="@Model.Id" class="form-control" id="id" />
        <span asp-validation for="@Model.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NombredeUsuario"></label>
        <input asp-for="@Model.NombredeUsuario" class="form-control" id="id" />
        <span asp-validation for="@Model.NombredeUsuario" class="text-danger"></span>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="@Model.Rol"></label>
            <select asp-for="@Model.Rol" asp-items="Html.GetEnumSelectList<RolUsuario>()" class="form-control" />
            <option value="">Seleccionar Rol</option>
            </select>
            <span asp-validation-for="@Model.Rol" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success"
            onclick="return confirm('¿Estás seguro de crear el usuario?')">Agregar</button>
</form>
